@import 'https://fonts.googleapis.com/css?family=Fira+Mono';
@import "../../node_modules/bulma/bulma";

// FIXME
@import "../../node_modules/tether-tooltip/dist/css/tooltip-theme-arrows";
@import "../../node_modules/tether-drop/dist/css/drop-theme-arrows-bounce-dark";
@import "../../node_modules/tether-shepherd/dist/css/shepherd-theme-square-dark";
.tooltip-content {
  background-color: red !important;
}

html, body {
  height: 100%;
  // min-height: 100vh;
  // max-height: 100%;
  overflow: hidden;
  font-family: 'Fira Mono', monospace;
}

main, main > section {
  height: 100%;
}


::-moz-selection {
  color: black;
  background: black;
}

::selection {
  color: black;
  background: black;
}

.hyperaudio-player {
  header {
    position: relative;
    width: 640px;
    height: 360px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjY2NjIj48L3JlY3Q+Cjwvc3ZnPg==");

    a {
      display: block;
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;
      color: red;

      :hover {
        color: black;
        background-color: red;
      }

      span {
        border-radius: 2px;
        // padding-right: 1px;
      }
    }
  }
}

.hyperaudio-source section {
  ::-moz-selection {
    color: yellow;
    background: black;
  }

  ::selection {
    color: yellow;
    background: black;
  }
}

// .hyperaudio-source {
//   article section {
//     user-select: none;
//     -webkit-user-select: none;
//
//     span {
//       user-select: auto;
//       -webkit-user-select: auto;
//     }
//   }
// }

.hyperaudio-sink header > a {
  left: auto;
  right: 0;
  span {
    border-radius: 3px;
  }
}

.modal-close {
  background-color: black;

  &:hover {
    background-color: red;

    &:before, &:after {
      background-color: black;
    }
  }

  &:before, &:after {
    background-color: red;
  }
}

video {
  background-color: black;
}

article {
  // height: 100%;
  height: calc(100% - 360px);
  overflow: auto;
  color: #222;
  padding: 1em;
}

.mask {
  background-color: yellow;
  // opacity: .3;
  cursor: grab;
  span {
    cursor: grab !important;
  }
}

.hyperaudio-player {
  article {
    span {
      cursor: pointer;
    }
  }
}

.hyperaudio-sink {
  article {
    section {
      // cursor: move;
      border-left: 1px solid blue;

      &.active {
        border-left: 1px solid red;
      }
    }
  }
}

article section {
  margin-bottom: 1em;
}

article span {
  font-weight: bold;
}

.active {
  // text-decoration: underline;
}

section.active ~ section p span {
  font-weight: normal;
}

section.active p.active ~ p span {
  font-weight: normal;
}

.head {
  color: blue;
}

section.active p.active .head {
  color: red;
}

section.active p.active .head ~ span {
  font-weight: normal;
}

.high {
  outline: 1px solid red;
}

.over {
  // border-top: 2px dashed yellow;
  // padding-top: 1em;
  // margin-top: 1em;
  background-color: lightyellow;
}
